{% assign graphics = include.graphics %}
{% if graphics %}
<section class="usa-section usa-section-dark-alt usa-graphic_list">
  {% for graphic in graphics %}
    {% cycle '<div class="usa-grid usa-graphic_list-row">', ' ', ' ' %}
    <div class="usa-width-one-third usa-media_block">
      <div class="usa-media_block-body">
        <img class="usa-media_block-img"  src="{{ graphic.image.src | relative_url }}" alt="{{ graphic.image.alt }}">
        {% if graphic.title %}<h3>{{ graphic.title }}</h3>{% endif %}
        {{ graphic.description | markdownify }}
      </div>
    </div>
    {% cycle ' ', ' ', '</div>' %}
  {% endfor %}
</section>
{% endif %}
