.usa-header-basic {
  .usa-navbar {
    @include media($nav-width) {
      position: relative;
      width: 21%;
    }
  }
}

.usa-graphic_list {
  .usa-graphic_list-row {

    a:link{
      text-decoration: none;
      color: $color-gray-dark;
    }

    a:visited{
      text-decoration: none;
      color: $color-gray-dark;
    }

    a:hover{
      text-decoration: underline;
      color: $color-primary;
    }

    .usa-media_block-img{
      margin-top: 10px;
    }

    .usa-media_block-img:hover{
      box-shadow: 0px 0px 8px 0px $color-base;
    }

  }
}


.usa-hero {
  .usa-button {
    color: $color-primary-alt;
  }
}

.usa-section-dark {
  .usa-hero-link {
    color: $color-primary-alt;
  }

  h2{
    color: $color-white;
  }

  .usa-hero-callout-alt {
    color: $color-primary-alt-light;
    display: block;
  }

}
