---
layout: default
main:
  class: usa-grid usa-section usa-content usa-layout-docs
---
{% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}

{% assign pifsc-partner = site.data.partners[page.partner] | default: page.partner %}

{% if sidenav %}
  <aside class="usa-layout-docs-sidenav sidenav {% if page.sticky_sidenav %}usa-sticky-sidenav{% endif %}">
    {% include sidenav.html links=sidenav %}
  </aside>
{% endif %}

<div class="usa-layout-docs-main_content">
  {% if page.title %}
    <h1>{{ page.title }}</h1>
  {% endif %}
    <img src="{{ site.baseurl }}{{ page.large_image }}" alt="{{ page.image_alt }} ">

  {% if pifsc-partner %}
    {% include sap-partner.html partner=pifsc-partner%}
  {% endif %}
  {{ content }}
</div>
